<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 Not Found</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="error-page">
      <a href="/" class="back-to-home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
        >
          <path
            d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"
          />
        </svg>
        Back to Home
      </a>
      <header>
        <h1>404: Page Not Found</h1>
      </header>
      <div class="content">
        <div class="emoticon">(╯°□°）╯︵ ┻━┻</div>
        <div class="description">The requested page was not found.</div>
      </div>
    </div>
  </body>
</html>
