<html>
    <%- include("head", {title: title}); %>
    <body>
        <h1>Create New Message</h1>
        <form class="new-message-form" method="POST" action="/new">
            <label for="user">
                User: 
                <input id="user" type="text" name="user" required />
            </label>
            <label for="message">
                Message: 
                <input id="message" type="text" name="message" required />
            </label>
            <div class="btn-container">
                <button type="submit">
                    Post Message
                </button>
            </div>
        </form>
    </body>
</html>
