<html>
    <%- include("head", {title: title}); %>
    <body>
        <header>
            <a href="/" class="back-to-home">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
            </a>
            <h1>Create New Message</h1>
        </header>
        <div class="new-task-container">
            <form class="new-message-form" method="POST" action="/new">
                <label for="user">
                    User
                </label>
                <input id="user" type="text" name="user" autofocus />
                <label for="message">
                    Message<span class="required">*</span>
                </label>
                <input id="message" type="text" name="message" required />
                <div class="btn-container">
                    <button type="submit">
                        Post Message
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
