<html>
    <%- include("head", {title: title}); %>
    <body>
        <h1>Create New Message</h1>
        <div class="new-task-container">
            <form class="new-message-form" method="POST" action="/new">
                <label for="user">
                    User
                </label>
                <input id="user" type="text" name="user" autofocus />
                <label for="message">
                    Message<span class="required">*</span>
                </label>
                <input id="message" type="text" name="message" required />
                <div class="btn-container">
                    <button type="submit">
                        Post Message
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
