<html>
    <%- include("head", {title: title}) %>
    <body>
        User: <%= message.user %>
        Message: <%= message.text %>
        Added Date: <%= message.added.toLocaleDateString() %>
    </body>
</html>
